.andika-regular {
    font-family: "Andika", sans-serif; font-weight: 400; font-style: normal;}
.andika-bold {
    font-family: "Andika", sans-serif; font-weight: 700; font-style: normal; }
.andika-regular-italic {
    font-family: "Andika", sans-serif; font-weight: 400; font-style: italic; }
.andika-bold-italic {
    font-family: "Andika", sans-serif; font-weight: 700; font-style: italic; }
.kavoon-regular {
    font-family: "Kavoon", serif; font-weight: 400; font-style: normal; }   
    
:root {
    --main-bg: rgba(200,200,200,1); --btn-bg: #eec55c; --btn-hover: aqua;
    --btn-active: white; --btn-border: #927731; --btn-shadow: rgba(0,0,0,0.5);
    --body-bg: #fff5da; --border: black; --toolbar-bg: #eec55c;
    --toolbar-color: #927731; --toolbar-hover-bg: #6a5eed;
    --toolbar-hover-color: #281ac1; --toolbar-btn-hover-bg: white;
    --toolbar-btn-hover-border: #6a5eed; --open-bg: white;
    --open-color: black; --open-border: gray; --open-title-color: gray; 
    --list--high: #ffadad;--txt--high: #bf4040;
    --list--mid: #c2ffad;--txt--mid: #43802e;
    --list--low: #adfff1;--txt--low: #2e8072; }

* {
    box-sizing: border-box; list-style: none;}
html body {
    padding: 0; margin: 0; background-color: var(--body-bg); }
button, input {
    border: none; }
.flex-container {
    display: flex; flex-direction: column; justify-content: center; width: 100%; }
.flex-container-row {
    display: flex; flex-direction: row; justify-content: center; width: 100%; }

.animation__fast {
    transition: all 0.3s;
}

.animation__mid {
    transition: all 0.5s;
}

input {
    transition: all 0.2s;
}
input:hover {
    transform: scale(1.1,1.1);
}

/* */
header {
    width: 100%; margin-bottom: 50px; background-color: var(--main-bg);
    text-align: center; }
.header--container h1 {
    font-size: 48px; }
.header--container button {
    height: 50px; transform: translate(0,15px);
    border-bottom: 5px solid var(--btn-border); border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px; background-color: var(--btn-bg);
    font-size: 20px; box-shadow: 0 2px 5px var(--btn-shadow); }
.header--container button:hover {
    background-color: var(--btn-hover); }
.header--container button:active {
    background-color: var(--btn-active);}
.header--toolbar {
    margin-bottom: 10px; }
.header--toolbar--input--text, .header--toolbar--input--date {
    width: auto; margin: 0 10px; }
.header--toolbar--input--text input, .header--toolbar--input--date input {
    height: 32px; border-radius: 6px; border: 1px solid var(--border); }


.pj--open {
    background-color: var(--open-bg); color: var(--open-color);
    border-bottom-color: var(--open-border); width: 90%;
    border-top-left-radius: 0; border-top-right-radius: 0; 
    box-shadow: -5px 5px 5px var(--btn-shadow); margin: auto; 
    padding: 10px 15px 20px; margin-bottom: 20px;}
.pj--open--title {
    width: 100%; height: 140px; }
.pj--open--title h3 { 
    font-size: 36px; margin-bottom: 0; }
.pj--open--title p {
    position:absolute; margin: 0; padding: 5px; transform: translate(0,-30%);
    color: var(--open-title-color); }
.pj--open--date {
    width: 50%; line-height: 1; text-align: center;}


.pj--subsection {
    border-top: 3px solid var(--open-title-color);
    border-bottom: 3px solid var(--open-title-color); }
.pj--open--description {
    align-items: center; padding: 10px; }
.pj--open--description:hover {
    background-color: var(--btn-hover); }
.pj--open--description:hover img {
    transform: scale(1.2,1.2); }
.pj--open--time--remaining {
    text-align: center;
    width: 100%; }

.list--container {
    padding: 0px;
    margin-left: 20px;
    margin-right: 20px;
}
.list--item, .list--item--add, .list--item--new {
    align-items: center;
    display: flex;
    width: auto;
    font-weight: 1000;
    font-size: 20px;
    margin: 0px;
    margin-bottom: 5px;
    padding: 30px;
    border-radius: 30px;
    transition: all .3s;
}

.list--item:hover {
    transform: scale(1.05,1.05);
}

.list--item--high {
    background-color: var(--list--high);
    color: var(--txt--high);
}
.list--item--mid {
    background-color: var(--list--mid);
    color: var(--txt--mid);
}
.list--item--low {
    background-color: var(--list--low);
    color: var(--txt--low);
}

.trash--icon {
    margin-left: auto;
    width: 5%;
    height: 5%;
    filter: invert(40%);
    mix-blend-mode: luminosity;
}
.trash--icon:hover {
    transform: scale(1.5,1.5);
}

.list--item--new {
    padding-left: 6px;
    background-color: transparent;
    color: gray;
    border: 4px dashed #999;
}
.list--item--new img {
    margin-right: 5px;
}
.list--item--add {
    background-color: #999;
    color: black;
    border: 4px dashed white;
}
.list--item--add input {
    margin-right: 10px;
}
.list--item--add .input--text{
    width: 80%;
    height: 25px;
}
.list--item--add h3{
    font-size:smaller;
    margin: 0px;
    padding: 0px;
    margin-right: 10px;
    margin-left: 10px;
}

ul .list--item--new:hover, ul .list--item--new:focus {
    background-color:aqua;
   }
   ul .list--item--new:hover img {
    transform: scale(1.2,1.2);
   }

   #task--priority--selector {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30px;
    justify-content: center;
    align-items: center;
   }
   #task--priority--selector h3 {
    font-size: 20px;
    margin: 0%;
   }
   #task--priority--selector h4 {
    color: red;
    padding: 0px;
    height: auto;
    width: auto;
   }
   #task--priority--selector img {
    width: 32px;
    height: auto;
    margin: 20px;
   }
   #task--priority--selector img:hover {
    transform: scale(1.2,1.2);
   }

.project--toolbar {
    background-color: var(--toolbar-bg); color: var(--toolbar-color); width: 90%;
    margin: auto; border-radius: 10px; padding: 10px;
    box-shadow: 0 2px 5px var(--btn-shadow);
    border-bottom: 5px solid var(--toolbar-color); margin-bottom: 30px;
    transition: 0.2s ease; }
.project--toolbar--text h1 {
    margin: 0 20px 10px; text-align: left; height: min-content; font-size: 40px;
    font-weight: normal; line-height: 40px; }
.project--toolbar--text p {
    margin: 0 0 10px 22px;text-align: left;font-size: 12px; }
.project--toolbar button {
    margin: auto auto auto 20px; width: 220px; height: 50px;
    background-color: transparent; border: 3px dashed var(--toolbar-color);
    border-radius: 50px; font-size: 18px; color: var(--toolbar-color);
    transition: 0.2s ease; }
.project--toolbar:hover, .project--toolbar:hover button{
    background-color: var(--toolbar-hover-bg); color: var(--toolbar-hover-color);
    border-color: var(--toolbar-hover-color); transform: scale(1.07); }
.project--toolbar button:hover {
    background-color: var(--toolbar-btn-hover-bg); 
    border-color: var(--toolbar-btn-hover-border);}